body {
    margin:  0px 0px 0px 0px;
    padding:  0px 0px 0px 0px;
    background:  #eeeeee;
    font-family: Helvetica, Arial, sans-serif
}

input[type="text"], input[type="password"] {
    margin:  0px 0px 0px 0px;
    padding:  0px 0px 0px 0px;
    height: 25px;
    border:  1px solid #cccccc;
    background:  #fff;
    min-width: 250px;
}

input[type="submit"] {
    margin:  0px 0px 0px 0px;
    padding:  5px 5px 5px 5px;
    border-radius: 5px;
    border:  none;
}

input[type="submit"].green {
    background: #7fd67f;
    color: #fff;
}

input[type="submit"].green:hover {
    background: #509450;
    color: #fff;
    cursor: pointer;
}

.div-row {
    margin:  0px 0px 10px 0px;
    padding:  0px 0px 0px 0px;
    overflow: hidden;
}

    .div-row .field-label {
        margin:  0px 0px 0px 0px;
        padding:  0px 0px 0px 0px;
        width: 120px;
        position: relative;
        float: left;
    }

    .div-row .field-value {
        margin:  0px 0px 0px 0px;
        padding:  0px 0px 0px 0px;
        position: relative;
        float: left;
    }

.login {
    margin:  30px auto 0px auto;
    padding:  10px 10px 10px 10px;
    background:  #fff;
    width: 380px;
    border-radius: 10px;
    overflow: hidden;
    /*display: none;*/
}

.status-bubble {
    margin: 2px 5px 0px 0px;
    height: 10px;
    border-radius: 5px;
    width: 10px;
    position: relative;
    float: left;
}

.green-bubble {
    background: #008000;
}

.red-bubble {
    background: #ff0000;
}

.yellow-bubble {
    background: #ffff00;
}

.gray-bubble {
    background: #808080;
}

.chat {
    margin:  0px 0px 0px 0px;
    padding:  0px 0px 0px 0px;
    display: none;
    min-width: 960px;
}

    .chat .chat-tabs {
        margin:  0px 0px 0px 0px;
        padding:  10px 0px 0px 10px;
        overflow:  hidden;
        background: #003366;
        color: #fff;
        border-bottom: 1px solid #0c4781;
    }

        .chat .chat-tabs ul {
            margin:  0px 0px 0px 0px;
            padding:  0px 0px 0px 0px;
            list-style: none;
        }

            .chat .chat-tabs ul li {
                margin:  0px 0px 0px 0px;
                padding:  0px 5px 2px 5px;
                position: relative;
                float: left;
                background:  #cccccc;
                color: #434343;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                font-size: .8em;
                border-top:  1px solid #fff;
                border-left:  1px solid #fff;
                border-right:  1px solid #fff;
            }

                .chat .chat-tabs ul li .text {
                    margin: 0px 0px 0px 0px;
                    padding:  5px 0px 0px 0px;
                    position: relative;
                    float: left;
                }

                .chat .chat-tabs ul li .close {
                    margin:  3px 0px 0px 5px;
                    padding:  0px 0px 0px 0px;
                    background: #6d8eaf;
                    border: 1px solid #fff;
                    position: relative;
                    float: left;
                    text-align: center;
                    width: 15px;
                    height: 15px;
                    line-height: 1em;
                    color: #fff;
                }

                .chat .chat-tabs ul li .close:hover {
                    cursor: pointer;
                    background: #a2bfdb;
                }

            .chat .chat-tabs ul li:not(:last-of-type) {
                margin-right: 10px;
            }

            .chat .chat-tabs ul li:hover {
                cursor: pointer;
                background: #eeeeee;
            }

    .chat .chat-container {
        margin:  0px 0px 0px 0px;
        padding:  0px 0px 0px 0px;
    }

        .chat .chat-container .contacts {
            margin:  0px 0px 0px 0px;
            padding:  5px 0px 10px 0px;
            width: 229px;
            height: 480px;
            float: right;
            background: #fff;
            border-left: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            overflow-y: scroll;
        }

            .chat .chat-container .contacts ul.contacts-list {
                margin:  0px 0px 0px 0px;
                padding:  0px 0px 0px 0px;
                list-style: none;
            }

                .chat .chat-container .contacts ul.contacts-list li {
                    margin:  0px 0px 5px 0px;
                    padding:  5px 5px 5px 5px;
                    list-style: none;
                    font-size: .7em;
                }

                .chat .chat-container .contacts ul.contacts-list li:hover {
                    cursor: pointer;
                    background: #f6f6ff;
                }

                    .chat .chat-container .contacts ul.contacts-list li small {
                        color: #cccccc;
                    }


        .chat .chat-container .current-content {
            margin:  0px 10px 0px 0px;
            padding:  0px 0px 0px 0px;
            overflow: hidden;
            height: 500px;
            background:  #fff;
            border-bottom: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
        }
            .chat .chat-container .current-content .chat-box {
                margin:  0px 0px 0px 0px;
                padding:  0px 0px 0px 0px;
                height: 100%;
                display: none;
            }

                .chat .chat-container .current-content .chat-box .chat-text {
                    margin:  10px 10px 10px 10px;
                    padding:  5px 5px 5px 5px;
                    border:  1px solid #cccccc;
                    overflow-y: scroll;
                }

                    .chat .chat-container .current-content .chat-box .chat-text .chat-line {
                        margin:  0px 0px 0px 0px;
                        padding:  2px 2px 2px 2px;
                        position: relative;
                        font-size: .8em;
                    }

                        .chat .chat-container .current-content .chat-box .chat-text .chat-line .chat-meta {
                            margin:  2px 0px 2px 0px;
                            padding:  0px 0px 0px 0px;
                            color: #cccccc;
                            font-style: italic;
                            font-size: .7em;
                        }

                    .chat .chat-container .current-content .chat-box .chat-text .chat-line:nth-child(even){
                        background: #f6f6ff;
                    }

                .chat .chat-container .current-content .chat-box .chat-input {
                    margin:  0px 0px 0px 0px;
                    padding:  0px 0px 0px 0px;
                }

                    .chat .chat-container .current-content .chat-box .chat-input .text-box {
                        margin:  0px 65px 0px 10px;
                        padding:  0px 0px 0px 0px;
                        height: 50px;

                    }

                        .chat .chat-container .current-content .chat-box .chat-input .text-box textarea.chat-message {
                            margin:  0px 0px 0px 0px;
                            padding:  0px 0px 0px 0px;
                            width: 100%;
                            height: 50px;
                            border:  1px solid #b3b2b2;
                            background: #fff;
                        }

                    .chat .chat-container .current-content .chat-box .chat-input .chat-submit {
                        margin:  0px 0px 0px 0px;
                        padding:  15px 0px 0px 0px;
                        width: 55px;
                        float: right;
                        height: 35px;
                    }




